/**
 * The following styles get applied inside the editor only.
 */
$base-index: 99990 !default;

// Show popup button
.wp-block-epb-easy-popup-block {

}

.epb-easy-popup-block-size-controls {
	width: 100%;

	.components-base-control__field {
		.components-panel__row {
			.component-box-control__header {
				justify-content: start;
			}
		}
	}
}

.epb-easy-popup-block-modal-position {
	width: 100%;
}

.epb-modal {
	.epb-modal-wrapper {
		display: flex;
		position: fixed;
		min-width: 100%;
		min-height: 100%;

		.components-resizable-box__container {
			z-index: $base-index + 1;

			.epb-modal-content {
				z-index: $base-index + 2;
				position: relative;
			}
		}

		z-index: 10;
	}
}
